body {
    font-family: 'Prompt', sans-serif;
    background-image: url('https://img.wongnai.com/p/1920x0/2019/02/01/698a5dd606ec420ebcc27d4d59c9eb14.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center; 
    align-items: center;
    justify-content: center;
  }
  h1, h2 {
    color: #007bff;
  }
  ul {
    padding: 0;
    list-style: none;
  }
  ul li {
    margin: 10px 0;
  }
  ul li a {
    text-decoration: none;
    color: #007bff;
  }
  ul li a:hover {
    text-decoration: underline;
  }
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
  }
  nav ul li {
    margin: 0 15px;
  }
  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
  }
  nav ul li a:hover {
    text-decoration: underline;
  }
  img {
    display: block;
    max-width: 80%; 
    height: auto;
    margin: 20px auto;
    border-radius: 8px;
  }
  button {
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  button:hover {
    background: #00ffa2;
    transform: scale(1.05);
}