body {
    background-image: url('https://img.wongnai.com/p/1920x0/2019/02/01/698a5dd606ec420ebcc27d4d59c9eb14.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
